<link rel="stylesheet" type="text/css" href="./public/css/home.css">
<script src="./public/js/home.js"></script>

<div class="container">
	<h1>NFL Avg Yards Per Game by Team</h1>
	<p>Click Next/Previous to see the NFL team</p>
	<div id="teams"></div>
	<button id="previous" class="btn btn-warning">Previous Team</button>
	<button id="next" class="btn btn-warning">Next Team</button>
</div>
